/* Custom styles for light mode */
body[data-theme="light"] {
  background-color: #ffffff;
  color: #000000;
}

/* Custom styles for dark mode */
body[data-theme="dark"] {
  background-color: #121212;
  color: #ffffff;
}